global
    log rsyslog:514 len 1024 local1 info
    log stdout format raw local0
    
defaults
    mode http
    log global
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    
    # default log-format: https://www.haproxy.com/documentation/haproxy-enterprise/administration/logs/
    #   %ci:%cp [%tr] %ft %b/%s %TR/%Tw/%Tc/%Tr/%Ta %ST %B %CC %CS %tsc %ac/%fc/%bc/%sc/%rc %sq/%bq %hr %hs %{+Q}r
    # usage:
    #   option httplog
    
    log-format "%ci|%cp|%Ts|%ft|%b|%s|%TR|%Tw|%Tc|%Tr|%Ta|%ST|%B|%CC|%CS|%ts|%ac|%fc|%bc|%sc|%rc|%sq|%bq|%[capture.req.method]|%[capture.req.hdr(0)]|%[capture.req.hdr(1)]|%HP|%ID|%[capture.req.hdr(2)]|%[capture.req.hdr(3)]|%[capture.req.hdr(4)]|%[capture.req.hdr(5)]|%[capture.req.hdr(6)]|%[capture.req.hdr(7)]|%[capture.req.hdr(8)]|%[capture.res.hdr(0)]"

frontend fe_main
   bind :8080
   default_backend be_main

backend be_main
    mode http
    server http_bin httpbin:80 check

# HAProxy Statistics
listen  stats
    bind :9000
    mode http
    stats enable  # Enable stats page
    stats hide-version  # Hide HAProxy version
    stats realm Haproxy\ Statistics  # Title text for popup window
    stats uri /haproxy_stats  # Stats URI
    stats auth admin:password  # Authentication credentials
